.values {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.value {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}
