.ant-select-dropdown {
  background-color: #26538a;
}
.ant-picker-panels {
  background-color: #26538a;
}
svg {
  fill: #26538a;
}

/*Filter modal*/
.ant-modal {
  padding-bottom: 0;
}

.ant-btn-primary {
  box-shadow: none;
}
