.charts {
  gap: 20px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.chart {
  width: 580px;
  height: 400px;
  color: #ffffff;
}

.chart_layout {
  min-width: 31vw;
  max-width: 400px;
  height: 50vh;
  overflow: auto;
}

.chart_map {
  min-width: 75vw;
  max-width: 700px;
  height: 50vh;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #31475f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #965da3;
  min-width: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #72bee0;
}
