.charts {
  gap: 20px;
  justify-content: space-evenly;
}
.chart {
  width: 500px;
  height: 500px;
  color: #ffffff;
}

.chart_layout {
  width: 500px;
  height: 500px;
  overflow: auto;
}

.chart_map {
  min-width: 75vw;
  height: 50vh;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #31475f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #965da3;
  min-width: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #72bee0;
}
